<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> revlytic confirmation </title>
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @media print {
            * {
                -webkit-print-color-adjust: exact;
            }
            html {
                background: none;
                padding: 0;
            }
            body {
                box-shadow: none;
                margin: 0;
            }
            span:empty {
                display: none;
            }
            .add,
            .cut {
                display: none;
            }
        }
        
        @page {
            margin: 0;
        }
        
        .visibleMobile {
            display: none;
        }
        
        .hiddenMobile {
            display: block;
        }
        
        .invoice-table-head {
            background: black;
        }
        
        @media only screen and (max-width: 767px) {
            body {
                width: auto !important;
            }
            table[class=fullTable] {
                width: 100% !important;
                clear: both;
            }
            table[class=fullPadding] {
                width: 100% !important;
                clear: both;
            }
            .fullPaddingheader {
                width: 100%;
            }
            .revlytic-billing {
                width: 50% !important;
            }
            .erase {
                display: none;
            }
        }
        
        @media only screen and (max-width: 420px) {
            table[class=fullTable] {
                width: 100% !important;
                clear: both;
            }
            table[class=fullPadding] {
                width: 100% !important;
                clear: both;
            }
            .fullPaddingheader {
                width: 100%;
            }
            .fullPadding-1 {
                width: 90% !important;
            }
            table[class=col] {
                width: 100% !important;
                clear: both;
            }
            table[class=col] td {
                text-align: left !important;
            }
            .erase {
                display: none;
                font-size: 0;
                max-height: 0;
                line-height: 0;
                padding: 0;
            }
            .visibleMobile {
                display: block !important;
            }
            .hiddenMobile {
                display: none !important;
            }
        }
        
        @media only screen and (max-width: 382px) {
            table.col.revlytic-billing td {
                text-align: left !important;
            }
            @media (max-width:365px) {
                .revlytic-billing:last-child {
                    padding-top: 1rem !important;
                }
            }
        }
    </style>

</head>

<body>

    <div class="email-table">
        <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f1f2f4">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f9f9f9" style=" padding: 0 13px;">
                            <tbody>
                                <tr class="hiddenMobile">
                                    <td height="40"></td>
                                </tr>
                                <tr class="visibleMobile">
                                    <td height="30"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPaddingheader">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" style="color:<%= selectedTemplate.headingTextColor %> ; font-size: 28px; font-weight: 400; letter-spacing: -0.56px;">

                                                                        <%= selectedTemplate.headingText %>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="right" class="col">
                                            <tbody>
                                                <tr class="visibleMobile">
                                                    <td height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td height="5"></td>
                                                </tr>
                                                <tr class="visibleMobile">
                                                    <td height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: <%= selectedTemplate.logoAlignment %> ">
                                                        <img src=" <%= selectedTemplate.logoUrl %>" alt="logo" width=" <%= selectedTemplate.logoWidth %>" height=" <%= selectedTemplate.logoHeight %>" />

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <!-- Show Order Number Section -->
                                                <!-- Check if showOrderNumber is true, then display the order number details -->
                                                <!-- If showOrderNumber is false, this section will not be displayed -->
                                                <!-- Replace #1234 with the actual order number -->
                                                <!--                         
                          <% if (selectedTemplate?.showOrderNumber && templateType=="subscriptionPurchased" ) { %>
                          <tr>
                            <td style="font-size: 12px; color: #5b5b5b; font-family: 'Poppins', sans-serif; vertical-align: top; text-align: right;">
                              <strong style="color: #000;"> <%= selectedTemplate?.orderNumberText %></strong>
                              <br />
                              <p style="color: #5b5b5b; margin: 0;">  {{order_number}}  </p>
                            </td>
                          </tr>
                          <% } %> -->

                                                <% if (selectedTemplate?.showSubscriptionId) { %>
                                                    <tr>
                                                        <td style="font-size: 12px; color: #5b5b5b; font-family: 'Poppins', sans-serif; vertical-align: top; text-align: right;">
                                                            <strong style="color: #000;"> <%= selectedTemplate?.subscriptionIdText %></strong>
                                                            <br />
                                                            <p style="color: #5b5b5b; margin: 0;"> {{subscription_id}} </p>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <!-- End of Show Order Number Section -->
                                                        <tr></tr>
                                                        <tr class="hiddenMobile">
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr class="visibleMobile">
                                                            <td height="20"></td>
                                                        </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f1f2f4">
            <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f9f9f9" style="padding: 0 13px;">
                            <tbody>
                                <tr>
                                    <td>
                                        <!-- Table Total -->
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                            <tbody>
                                                <!-- Content Section -->
                                                <!-- Uncomment the code below to display the customer name and thank you message -->
                                                <!-- Replace {customer_name} with the actual customer's name -->
                                                <!--
                          <tr>
                            <td style="font-size: 12px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top; text-align: left;">
                              <strong>
                                Hi {customer_name} <br />
                                Thank you for your purchase!
                              </strong>
                            </td>
                          </tr>
                          -->
                                                <tr>
                                                    <td style="font-size: 12px; font-family: 'Poppins', sans-serif; color:<%= selectedTemplate.textColor %>; vertical-align: top; text-align: left;">
                                                        <!-- Replace this part with your actual content using formData.contentText -->
                                                        <!-- Example: -->
                                                        <!--
                              <div>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                              </div>
                              -->
                                                        <%- selectedTemplate.contentText %>
                                                    </td>
                                                </tr>
                                                <tr class="hiddenMobile">
                                                    <td height="10"></td>
                                                </tr>
                                                <tr class="visibleMobile">
                                                    <td height="20"></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- /Table Total -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- Order Details -->
        <!-- Check if showLineItems is true, then display the order details -->
        <!-- If showLineItems is false, this section will not be displayed -->
        <% if (selectedTemplate.showLineItems) { %>
            <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f1f2f4">
                <tbody>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f9f9f9" style="padding: 0 13px;">
                                <tbody>
                                    <tr class="hiddenMobile">
                                        <td height="30"></td>
                                    </tr>
                                    <tr class="visibleMobile">
                                        <td height="40"></td>
                                    </tr>
                                    <!-- lineiteems start-->
                                    <% data.product_details.forEach(function(item,index) { %>
                                        <tr>
                                            <td>


                                                <% if (index==0) { %>
                                                    <table width="100%" border="0" cellPadding="0" cellSpacing="0" align="center" class="fullPadding-1 revlytic-scroll-table" style="background: linear-gradient(0deg, #F0F0F0 0%, #F0F0F0 100%); border-radius: 7px 7px 0 0;">
                                                        <thead>
                                                            <tr>
                                                                <th style="vertical-align: top; padding: 10px 10px 0 10px; width: 10%; text-align: center; font-size: 13px; color: #666; opacity: 0.6;"> Product</th>
                                                                <th style="vertical-align: top; padding: 10px 10px 0 10px; width: 20%; text-align: left; font-size: 13px; color: #666; opacity: 0.6;"></th>
                                                                <th style="vertical-align: top; padding: 10px 8px 0 8px; width: 10%; text-align: left; font-size: 13px; color: #666; opacity: 0.6;">Price</th>
                                                                <th style="vertical-align: top; padding: 10px 8px 0 8px; width: 15%; text-align: left; font-size: 13px; color: #666; opacity: 0.6;">Quantity</th>
                                                                <th style="vertical-align: top; padding: 10px 8px 0 8px; width: 10%; text-align: left; font-size: 13px; color: #666; opacity: 0.6;">Total</th>
                                                                <th style="vertical-align: top; padding: 10px 10px 0; width: 30%; text-align: left; font-size: 13px; color: #666; opacity: 0.6;">Plan Details</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <% }  %>


                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding-1" style="background: #F0F0F0; border-radius: 5px;">
                                                            <tbody>
                                                                <!-- Order Line Item 1 -->
                                                                <tr>
                                                                    <td height="5" colspan="5"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: top; padding: 10px; width: 10%;">

                                                                        <img src=" <%= item.image %>" style="width: 50px; height: 50px; border-radius: 5px;" />

                                                                    </td>
                                                                    <td style="font-size: 12px; font-family: 'Poppins', sans-serif; line-height: 1.3; color: #000; font-weight: 100%; vertical-align: top; padding: 10px; width: 20%;" class="article">
                                                                        <%= item.product_name %>
                                                                            <% if (item.hasOnlyDefaultVariant==false) { %>
                                                                                <%= item.title %>
                                                                                    <% } %>
                                                                                        <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top; padding: 10px 0; width: 10%;">
                                                                                            <!-- <small style="font-size: 13px; color: #666;">Price</small> <br /> -->
                                                                                            <strong style="line-height: 1.5;">
                              <% if (selectedTemplate.showCurrency) { %><%= currencySymbol %><% } %><%= parseFloat(item.price)?.toFixed(2) %>
                            </strong>
                                                                                        </td>
                                                                                        <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top; padding: 10px 0; width: 10%;">
                                                                                            <!-- <small style="font-size: 13px; color: #666;">Quantity</small> <br /> -->
                                                                                            <strong style="line-height: 1.5;"><%= item.quantity %></strong>
                                                                                        </td>
                                                                                        <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top; padding: 10px 0; width: 15%;">
                                                                                            <!-- <small style="font-size: 13px; color: #666;">Total</small> <br /> -->
                                                                                            <strong style="line-height: 1.5;">
                              <% if (selectedTemplate.showCurrency) { %><%= currencySymbol %><% } %><%= ( parseFloat(item.quantity) * parseFloat(item.price) )?.toFixed(2) %>
                            </strong>
                                                                                        </td>

                                                                                        <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top; padding: 10px 0; width: 30%;">

                                                                                            <!-- <small style="font-size: 13px; color: #666;">Plan Details</small> <br /> -->
                                                                                            <strong style="line-height: 1.5;">
                              <%= selectedTemplate.planNameText %>
                            </strong> :
                                                                                            <%= data?.subscription_details.planName %> <br />
                                                                                                <strong style="line-height: 1.5;">
                              <%= selectedTemplate.nextBillingDateText %>
                            </strong> :
                                                                                                <%= dateConversion(data.nextBillingDate) %>
                                                                                                    <br />
                                                                                                    <strong style="line-height: 1.5;">
                              <%= selectedTemplate.billingFrequencyText %>
                            </strong> :
                                                                                                    <%= data?.subscription_details?.billingLength %>
                                                                                                        <%= (data?.subscription_details?.delivery_billingType).toLowerCase() %>(s)


                                                                                                            <br />
                                                                                                            <strong style="line-height: 1.5;">
                          <%= selectedTemplate.deliveryFrequencyText %>
                        </strong>
                                                                                                            <% if (data?.subscription_details?.planType=='prepaid') { %>
                                                                                                                <%= data?.subscription_details?.delivery_billingValue %>
                                                                                                                    <%= (data?.subscription_details?.delivery_billingType)?.toLowerCase() %>(s) %>
                                                                                                                        <% }  else{ %>
                                                                                                                            <%= data?.subscription_details?.billingLength %>
                                                                                                                                <%= (data?.subscription_details?.delivery_billingType)?.toLowerCase() %>(s)
                                                                                                                                    <% } %>

                                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="1" colspan="6" style="border-bottom: 1px solid #e4e4e4;"></td>
                                                                </tr>
                                                                <!-- Order Line Item 2 -->

                                                            </tbody>
                                                        </table>
                                                        </td>
                                        </tr>
                                        <% }) %>


                                            <!-- lineitemsendddd -->
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                </tbody>
                            </table>
                            </td>
                    </tr>
                </tbody>
            </table>
            <% } %>
                <!-- /Order Details -->

                <!-- Information -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f1f2f4">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#f9f9f9" style="padding: 0 13px;">
                                    <tbody>
                                        <tr></tr>
                                        <tr class="hiddenMobile">
                                            <td height="30"></td>
                                        </tr>
                                        <tr class="visibleMobile">
                                            <td height="40"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <!-- Shipping Address -->
                                                                <!-- Check if showShippingAddress is true, then display the shipping address -->
                                                                <!-- If showShippingAddress is false, this section will not be displayed -->
                                                                <% if (selectedTemplate.showShippingAddress && data.shipping_address) { %>
                                                                    <table width="50%" border="0" cellpadding="0" cellspacing="0" align="left" class="col revlytic-billing">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top;">
                                                                                    <strong>
                                        <%= selectedTemplate.subscriptionShippingAddressText %>
                                      </strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="10"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 12px; font-family: 'Poppins', sans-serif; color: #5b5b5b; vertical-align: top;">
                                                                                    <%- selectedTemplate.shippingAddress %>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <% } %>
                                                                        <!-- Billing Address -->
                                                                        <!-- Check if showBillingAddress is true, then display the billing address -->
                                                                        <!-- If showBillingAddress is false, this section will not be displayed -->
                                                                        <% if (selectedTemplate.showBillingAddress && data.billing_address) { %>
                                                                            <table width="50%" border="0" cellpadding="0" cellspacing="0" align="right" class="col revlytic-billing">
                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top; text-align: right;">
                                                                                            <strong>
                                        <%= selectedTemplate.subscriptionBillingAddressText %>   
                                      </strong>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" height="10"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-size: 12px; font-family: 'Poppins', sans-serif; color: #5b5b5b; vertical-align: top; text-align: right;">
                                                                                            <%- selectedTemplate.billingAddress %>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <% } %>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <!-- Payment Method -->
                                                <!-- Check if showPaymentMethod is true, then display the payment method -->
                                                <!-- If showPaymentMethod is false, this section will not be displayed -->

                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left" class="fullPadding">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <% if (selectedTemplate.showPaymentMethod) { %>
                                                                    <table width="50%" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                                                                        <tbody>
                                                                            <tr class="hiddenMobile">
                                                                                <td height="35"></td>
                                                                            </tr>
                                                                            <tr class="visibleMobile">
                                                                                <td height="20"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 11px; font-family: 'Poppins', sans-serif; color: #000; vertical-align: top;">
                                                                                    <strong>
                                        <%= selectedTemplate.paymentMethodText %>  
                                      </strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="10"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 12px; font-family: 'Poppins', sans-serif; color: #5b5b5b; vertical-align: top;">
                                                                                    {{card_brand_name}}
                                                                                    <%= selectedTemplate.endingWithText %> {{last_four_digits}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <% } %>
                                                                        <table width="50%" border="0" cellpadding="0" cellspacing="0" align="right" class="col">
                                                                            <tbody>
                                                                                <tr class="hiddenMobile">
                                                                                    <td height="35"></td>
                                                                                </tr>
                                                                                <tr class="visibleMobile">
                                                                                    <td height="20"></td>
                                                                                </tr>
                                                                                <tr align="right">
                                                                                    <td style="color: <%= selectedTemplate.manageSubscriptionTextColor %>; cursor: pointer; text-align: center; font-size: 14px; font-weight: 500; border-radius: 5px; background: <%= selectedTemplate.manageSubscriptionButtonBackground %>; display: inline-block; padding: 10px;">
                                                                                        <!-- Replace MANAGE_SUBSCRIPTION_TEXT with the actual subscription management text -->

                                                                                        <!-- <% data?.recipientMails.forEach(function(email) { %>
                                        <% if (email == data?.customer_details?.email) { %>
                                           
                                            <a href=" <% if (selectedTemplate.subscriptionUrl) { %>   <%= selectedTemplate.subscriptionUrl %>  <% } else{ %> https://admin.shopify.com/store/quick-start-0d1be701/apps/revlytic/create-manual-subscription <% } %>" style="text-decoration: none ; color:<%= selectedTemplate.manageSubscriptionTextColor %>"><%= selectedTemplate.manageSubscriptionText %></a>

                                        <% } else  { %>
                                         
                                          <a href=" <% if (selectedTemplate.subscriptionUrl) { %>   <%= selectedTemplate.subscriptionUrl %>  <% } else{ %> https://admin.shopify.com/store/quick-start-0d1be701/apps/revlytic/create-manual-subscription?id=<%= (data.subscription_id).split('/').at(-1) %>&mode=view <% } %>" style="text-decoration: none ; color:<%= selectedTemplate.manageSubscriptionTextColor %>"><%= selectedTemplate.manageSubscriptionText %></a>

                                        <% } %>
                                    <% }); %> -->


                                                                                        <!-- <% data?.recipientMails.forEach(function(email,index) { %>
                                      <% var subscriptionUrl = selectedTemplate.subscriptionUrl || "https://admin.shopify.com/store/quick-start-0d1be701/apps/revlytic/create-manual-subscription" %>
                                      <% var emailCondition = (email == data?.customer_details?.email) %>
                                      <a href="<%= emailCondition ? subscriptionUrl : subscriptionUrl + '?id=' + (data.subscription_id).split('/').at(-1) + '&mode=view' %>" style="text-decoration: none; color:<%= selectedTemplate.manageSubscriptionTextColor %>">
                                          <%= index==0 ? selectedTemplate.manageSubscriptionText :"" %>
                                      </a>
                                  <% }); %>
                                -->

                                                                                        <a href="<%= url %>" style="text-decoration: none; color:<%= selectedTemplate.manageSubscriptionTextColor %>">
                                                                                            <%=  selectedTemplate.manageSubscriptionText %>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="100%" height="10"></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr class="hiddenMobile">
                                            <td height="30"></td>
                                        </tr>
                                        <tr class="visibleMobile">
                                            <td height="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /Information -->
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" className="fullTable" bgcolor="#f1f2f4">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" className="fullTable" bgcolor="#f9f9f9" style="padding: 0 13px;">
                                    <tbody>
                                        <tr>
                                            <td height="1" colSpan="5" style="border-bottom: 1px solid #e4e4e4;"></td>
                                        </tr>
                                        <tr class="spacer">
                                            <td height="20"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" className="fullTable" bgcolor="#f1f2f4">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" className="fullTable" bgcolor="#f9f9f9" style="padding: 0 13px;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" className="fullPadding">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="font-size: 12px; color: #5b5b5b; font-family: 'Poppins', sans-serif; vertical-align: top; text-align: left;">
                                                                                <!-- Render the footerText using dangerouslySetInnerHTML to allow HTML tags -->
                                                                                <%- selectedTemplate.footerText %>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr class="spacer">
                                                            <td height="20"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>

</body>

</html>